@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
}
:root{
    --primarmary-color: #000088;
    --secondary-color:#FFA500;
    --grey-color: #454545;
    --black: #000000;
    --white:#ffff;
}
body{
    font-family: 'Lato' ,sans-serif;
    font-weight: 500;
    background-color: #FFF;
    font-size: 14px;
    color: #454545;
}
/*HEADER SECT56N */

#header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 30px 8%;
    flex-wrap: wrap;
}
.nav-links li{
    display:inline-block;
    padding:0px 15px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: #454545;
}

.logo{
    cursor: pointer;
}
button {
    padding: 9px 25px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32.2px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: #FFA500;
    color: #000000;

}
button :hover{
    background-color: #F7B845;
    color: #FFF;
    
}
a{
    color: #000000;
}


/*HERO SECTioN */
.hero-section{
    margin-top: 100px;
}
.hero-content{
    padding: 30px 8%;
}
.hero-writeup h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 61.6px;
    color: #454545;
    margin-bottom: 20px;
}
.hero-writeup button .organize{
    width: 103px;
    height:32px ;
    font-size: 14px; 

}
.organize p{
    color: #ffff;
    font-size: 14px;
}
.hero-writeup button{
    background-color:#000088 ;
    
}
 .organize { 
    padding:  10px 26px;
    position: absolute;
    left: 370px;
    margin-top: 5px;
    border-radius: 20px;
}
.hero-button button{
    background-color: #FFA500;
}
#design {
    background-color: #FFA500;
    width: 221px;
    text-align: center;
    border-radius: 10px;
    height: 75px;
    position: absolute;
    right: 400px;
    margin-top: 90px;
    font-weight: 600;
    font-size: 20px;
    padding-top: 5px;
    color: #454545;
}
.tick{
    margin-bottom: 10px;
    margin-left: 170px;
}
.hero-content{
    display: flex;
    justify-content: space-between;
}
.design2{
    background-color: #FFA500;
    width: 221px;
    text-align: center;
    border-radius: 10px;
    height: 75px;
    position: absolute;
    right: 90px;
    margin-top: 285px;
    font-weight: 600;
    font-size: 20px;
    padding-top: 5px;
    color: #454545;
}


/* FEATURE SECTION*/
div .feature-section{
    margin-top: 200px;
}
.feature-inner{
    background-color:#F7FAFF;
    height: 420px;
}
.feature-section{
    padding: 30px 8%;
    background-color:#F7FAFF ;


}
.feature-content{
    display: flex;
    text-align: center;
    gap: 20px;
}

.feature-text{
    text-align: center;
    padding-bottom: 50px;
    margin-bottom: 25px;
}
.box1{
    background-color: #ffff;
    padding: 10px;
    border-radius: 5px;
    width: 270px;
    height: 270px;
}
.box2{
    background-color: #ffff;
    padding: 10px;
    border-radius: 5px;
    width: 270px;
}
.box3{
    background-color: #ffff;
    padding: 10px;
    border-radius: 5px;
    width: 270px;
}
.box4{
    background-color: #ffff;
    padding: 10px;
    border-radius: 5px;
    width: 270px;

}
.feature-content h3 {
    padding-top: 30px;
}
.user{
    padding-top: 45px;
}
.feature-content p{
    padding-top: 10px;
}

/*MANAGE SECTION*/
#manage-section{
    padding: 30px 8%;
padding-top: 200px;
}
div #manage-section{
    margin-top: 100px;
}
.manage-text h1{
    font-size: 48px;
    line-height: 52.8px;
    font-weight: 500;
    color: #454545;
}
hr{
    width: 150px;
    height: 4px;
    border-width: 0;
    color: var(--primarmary-color);
    background-color: var(--primarmary-color);
    margin-top: 24px;
}
.global{
    display: flex;
    margin-top: 57px;
    gap: 3px
    
}
.manage-content{
    display: flex;
    justify-content: space-between;
}
.img-bg{
    border-radius: 50%;
    background-color: #000088;
    margin-right: 80px;
}
.ux-companion{
    width: 160px;
    background-color: #FFA500;
    height: 155px;
    border-radius: 10px;
    position: absolute;
    right: 480px;
    top:247%;
    text-align: center;
}
.flower{
    width: 160px;
    border-radius: 10px;
    height: 90px;
}

.ux-companion .tick{
    position: relative;
    right: 49px;
    padding-top: 18px;
}
.user-Research{
    width: 160px;
    background-color: #FFA500;
    height: 105px;
    border-radius: 10px;
    position: absolute;
    right: 270px;
    text-align: center;
    padding-top: 7px;
    top: 280.2%;
    
}
.user-Research .tick{
    position: relative;
    right: 49px;
    padding-top: 4px; 
}
.Redesign{
    width: 160px;
    background-color: #FFA500;
    height: 105px;
    border-radius: 10px;
    position: absolute;
    right: 90px;
    text-align: center;
    padding-top: 7px;
    top: 252%;
    
}
.Redesign .tick{
    position: relative;
    right: 49px;
    padding-top: 10px; 
}



/*TESTIMONIAL SECTION*/
.testimonial-section{
    padding:170px 8%;

}
.t-img{
    width: 403.37px;
    
}
.comment-box
{
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    background-color: var(--secondary-color);
    width: 447.67px;
    color: #000000;
    height: 105.71px;
    padding: 15.1px  17.49px 15px 50px;
    margin-top: 22.2px;
}
.pp{
    position: absolute;
    left: 100px;
    top: 373.5%;
    width: 46.73px;
}
.testimonial-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.text h1{
    font-size: 42px;
    font-weight:500;
    line-height: 52.8px;
}
.collaboration{
    height: 323px;
    padding-left:50px ;
}
.text p{
    font-size: 20px;
    font-weight:500;
    line-height: 28px;
    padding-top: 8px;
}
.addteam{
    padding-top: 15px;
    padding-bottom: 5px;
}

/*FOOTER SECTION*/
.footer-section{
    padding: 80px 8%;
    background-color: #000088;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    color: #ffff;
    font-size: 20px;
    line-height: 32.2px;
    padding-bottom: 20px;
}
.email-container{
    display: flex
}
.inputfield{
    outline: none;
    font-size: 16px;

}
.arrow4{
    margin-top: 5px;
}
#submit{
    border-radius: none;
}
.footer-text a {
    color: #ffff;
}
.footer-text li{
    font-weight: 500;
    display: block;
    padding-top: 30px;
}
.footer-text h4{
font-weight: 600;
font-size: 30px;
}
.fa {
  font-size: 25px;
}

.checked {
color: #FFA500;
}
